@import "styles/variables";

.header{
    background: #191919;
    height: 6rem;
    margin-top: -6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 0.5s all ease;
}