@import "styles/variables";

.header{
	background: #191919;
	height: 9.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	position: sticky;
	top: 0;
	z-index: 10;
	transition: 0.5s all ease;
	@media (max-width: $md) {
		height: 7.6rem;
	}
	.container{
		height: 100%;
		display: flex;
		justify-content: space-between;
	}
	.wrapper{
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 100%;
	}
	&.activeMenu{
		@media (max-width: $md){
			ul{
				transform: translateX(0);
				opacity: 1;
				pointer-events: auto;
			}
			.menu{
				opacity: 0 !important;
				pointer-events: none !important;
			}
			.close{
				opacity: 1 !important;
				pointer-events: auto !important;
			}
		}
	}
	ul{
		display: flex;
		align-items: center;
		height: 100%;
		transition: all .2s;
		@media (max-width: $md) {
			position: absolute;
			width: 100%;
			left: 0;
			top: 100%;
			background: $black;
			flex-direction: column;
			align-items: center;
			transform: translateX(-100%);
			opacity: 0;
			pointer-events: none;
			padding-bottom: 1rem;
			height: fit-content;
		}
		li{
			height: 50%;
			@media (max-width: $md) {
				width: 100%;
				text-align: center;
				background: $black;
				a{
					padding: 1rem 0;
					justify-content: center;
				}
			}
		}
		a{
			font-size: 1.6rem;
			color: $white;
			padding: 0 1.6rem;
			margin: 0 1.6rem;
			height: 100%;
			display: flex;
			align-items: center;
			transition: $general-transition;
			position: relative;
			&:hover{
				color: $primary;
				transform: translateY(-0.2rem);
			}
		}
	}
	.hamburger{
		display: none;
		width: 2.5rem;
		color: $white;
		position: relative;
		svg{
			max-width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			color: $white;
			transform: translateY(-50%);
			transition: all .2s;
		}
		.close{
			opacity: 0;
			pointer-events: none;
		}
		.menu{
			opacity: 1;
			pointer-events: auto;
		}
		
		@media (max-width: $md) {
			display: flex;
			align-items: center;
		}
	}
}