$black: #191919;
$white: #fff;
$primary: #f9004d;
$alt: #b9b9b9;
$gradient: linear-gradient(245deg, rgba(231,1,125,1) 0%, rgba(255,0,0,1) 100%);

$general-transition: .2s all;

$sm: 76.7rem;
$md: 91rem;
$lg: 120rem;
